:root {
    --white: white;
    --black: black;
    --bg-color-primary: rgb(216, 203, 192);
    --bg-color-content: rgb(65, 50, 37);
    --bg-color-content-transparant: rgba(65, 50, 37, .6);
    --height100vh: 100vh;
    --height-mobile-85vh: 85vh;
    --height-mobile-10vh: 10vh;
}
 
/* Tab */

@media screen and ( max-width: 960px) {
    *{
        font-size: 14px;
    }

    .why-content{
        grid-template-columns: 1fr;
    }
    
    .front-cover-content img{
        width: 60vw;
    }

    .front-cover-content p{
        font-size: 3vw;
    }

    /* our-story */
    .our-story-text{
        background-color: var(--bg-color-content-transparant);
        overflow: hidden;
        height: auto;
        padding: 2rem 0;
    }

    .our-story-text-content{
        padding: 0;
    }

    /* wedd collection */
    .wedd-images-collecction{
        margin: 0 3rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* space-01 */
    .space-01{
        height: 15vh;
    }

    /* content */
    .content{
        height: 30vh;
        margin-top: -15vh;
    }

    /* Location */
    .location{
        min-height: 40vh;
        margin-bottom: 4rem;
    }
    
    .location h1{
        margin: 2rem 0;
    }
    
    .location-content{
        display: grid;
        width: 90vw;
        grid-template-columns: 1fr 1fr;
    }
    
    .location-content-1{
        margin: 0;
        height: 100%;
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
    }

    .location-content-1 iframe{
        min-height: 100% ;
    }

    .location-content-2{
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .location-content-2 address{
        font-size: 1.3rem;
    }

    .location-content-3{  
        width: 50vw;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
}

@media screen and ( max-width: 700px) {

    *{
        font-size: 14px;
    }

    header img{
        padding: 5px;
        width: 30vw;
        height: auto;
    }

    /* our story */
    .our-story{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .our-story-img{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .our-story-text{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    /* wedd-images */
    .wedd-images{
        min-height: 50vh;
    }
    
    .wedd-images-collecction{
        margin: 0 3rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
    }

    /* space-01 */
    .space-01{
        height: 10vh;
    }

    /* content */
    .content{
        height: 20vh;
        margin-top: -10vh;
    }

    .content-items a{
        font-size: 1rem;
        padding: 1rem 0;
    }

    .inner-content-2 {
        min-width: 30%;
        /* padding: 0; */
     }

    /* footer */
    footer{
        min-height: 15vh;
    }

    footer img{
        width: 50vw;
    }

    /* Location */
    .location{
        min-height: 40vh;
        margin-bottom: 4rem;
    }
    
    .location-content{
        display: grid;
        width: 70vw;
        grid-template-columns: 1fr;
    }
    
    .loc-items{
        width: 100%;
        grid-row: auto;
        grid-column: auto;
    }


}

/* Mobile */
@media screen and ( max-width: 460px) {
    *{
        font-size: 12px;
    }
    h1{
        font-size: 2rem;
    }

    header{
        display:none;
    }

    .section-bottom{
        z-index: 1;
        width: 100%;
        min-height: var(--height-mobile-15vh);
        color: var(--white);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        background-color: var(--bg-color-content-transparant);
    }

    .mobile-nav{
        text-align: center;
        padding: .5rem;
    }

    .section-bottom i{
        color: var(--white);
        font-size: 1.5rem;
    }



    .why-content{
        grid-template-columns: 1fr;
    }

    /* space-01 */
    .space-01{
        height: 5vh;
    }

    /* content */
    .content{
        height: 10vh;
        margin-top: -5vh;
    }

    footer{
        min-height: 30vh;
    }
}