@font-face {
    font-family: 'PlaypenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url(../aseets/font/PlaypansSans.woff2)format('woff2'),
    url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PlaypenSans','arial', sans-serif;
    /* transition: ease all .5s; */
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --white: white;
    --black: black;
    --bg-color-primary: rgb(216, 203, 192);
    --bg-color-content: rgb(65, 50, 37);
    --bg-color-content-transparant: rgba(65, 50, 37, .6);
    --height100vh: 100vh;
}

/* dekstop */
    h1{
        font-size: 3rem;
    }

    body {
        background-color: var(--bg-color-primary);
    }

/* header */
    header{
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        background-color: var(--bg-color-content-transparant);
    }

    header img{
        padding: 5px;
        height: 8vh;
    }

    header img, nav li{
        margin: 0 1rem;
        color: var(--white);
        list-style: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        /* text-decoration: none; */
        color: var(--white);
    }

    nav ul li:hover{
        text-shadow: 2px 2px 2px rgba(244, 240, 237,.5);
        text-decoration: underline;
    }

    nav ul li a:hover {
        font-weight: 600;
        color: rgb(240, 220, 204);
    }

/* Mobile nav */
    .section-bottom{
        display: none;
    }



/* front-cover */
    .front-cover {
        max-width: 100vw;
        min-height: var(--height100vh);
        background-image: url(../aseets/img/head-bg-cover.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
    .front-cover-content{
        background-color: rgba(0, 0, 0, .5);
        height: var(--height100vh);
        display: flex;  
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        padding-bottom: 15vh;
        color: var(--white);
    }

    .front-cover-content img{
        width: 40vw;
    }

    .front-cover-content p{
        font-size: 2vw;
    }

/* our story */
    .our-story{
        min-height: var(--height100vh);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 20% 30% 30% 20% ;
        justify-content: center;
    }

    .our-story-img{
        grid-row: 2 / span 2;
        grid-column: 2 / span 6;
        overflow: hidden;
        background-image: url(../aseets/img/our-story-01.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }

    .our-story-text{
        grid-row: 1 / span 4;
        grid-column: 7 / span 6;
        background-color: var(--bg-color-content-transparant);
        overflow: hidden;
        height: auto;
        padding: 4rem 0;
    }

    .our-story-text-content{
        color: var(--white);
        width: 80%;
        min-height: 100%;
        margin: auto;
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .our-story-text-content p{
        font-size: 1rem;
        height: auto;
        font-style: italic;
    }

/* why */
    .why{
        max-width: 100vw;
        min-height: var(--height100vh);
    }

    .why-content{
        width: 95vw;
        min-height: 400px;
        padding: 2.5rem 0;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        /* grid-template-rows: 2fr 1fr; */
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .whyitems{
        background-color: var(--bg-color-content);
        border-radius: 2rem;
        color: var(--white);
        padding: 1rem 2rem;
        overflow: hidden;
        min-height: 100%;
        overflow: hidden;
    }

    .why h1{
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 2rem ;
    }

    .why h2{
        text-align: center;
        text-decoration: underline;
    }

    .why p{
        padding-top: 1rem ;
        text-align: center;
        line-height: 1.5rem;
    }


/* wedd-images */
    .wedd-images{
        max-width: 100vw;
        min-height: var(--height100vh);
        color: var(--white);
        background-color:  var(--bg-color-content);
    }

    .wedd-images h1{
        padding-top: 2rem;
        text-align: center;
    }

    .wedd-images-collecction{
        margin: 0 5rem;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 1rem;
    }

    .wedd-images-collecction img{
        width: 100%;
        border: 3px solid grey ;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px rgba(255, 255, 255, .8);
    }   

/* space-01 */
    .space-01{
        max-width: 100vw;
        height: 20vh;
        background-color: var(--bg-color-content);
    }

/* content */
    .content{
        width: 70%;
        height: 40vh;
        margin: auto;
        margin-top: -20vh;
        background-color: var(--white);
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .inner-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 98%;
        height: 95%;
        padding: .5rem 0;
        gap: .5rem;
        border-radius: 1rem;
        background-color: var(--bg-color-primary);
    }

    .content-items{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .inner-content-1 p{
        font-size: 3vw;
        text-align: center;
        font-weight: 700;
        font-style: italic;
    }

    .inner-content-2{
        width: 30%;
    }

    .content-items a{
        margin: 0;
        width: 100%;
        padding: 1.5rem;
        border-radius: 1.5rem;
        font-size: 1.5vw;
        font-weight: 700;
        color: var(--white);
        background-color: var(--bg-color-content-transparant);
        /* text-decoration: none; */
        text-align: center;
    }

    #inner-content-2-btn:hover{
        box-shadow: 2px 2px 7px black;
    }

/* location */
    .location{
        max-width: 100vw;
        min-height: 50vh;
        margin: auto;
        margin-bottom: 5rem;
    }

    .location h1{
        margin: 3rem 0;
        text-align: center;
    }

    .location-content{
        display: grid;
        width: 90vw;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .location-content-1{
        text-align: center;
    }
    
    
    .location-content-1 iframe{
        width: 100%;
        height: 16rem;
    }

    .location-content-2{
        width: 100%;
        margin: auto;
        
        color: var(--white);
        font-size: 1.2rem;
        background-color: var(--bg-color-content-transparant);
        padding: 4rem 1rem;
    }

    address{
        line-height: 1.5;
        padding: 0 1rem;
    }

    .loc-items{
        min-height: 16rem;
    }

    /* form */
    form{
        color: var(--white);
        padding: 15px;
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border-radius: 5px;
        background: var(--bg-color-content-transparant);
        box-shadow: 4px 4px 15px rgb(79, 79, 79);
    }
    fieldset{
        padding: 2rem 0;
        /* max-height: 100%; */
    }
    legend{
        font-weight: 700;
    }

    .form-items{
        padding: .5rem 0;
        padding-left: .5rem;
        width: 95%;
        display: block;
    }
    
    .formtext{
        display: inline-block;
        width: 35%;
    }
    
    input[type="text"],
    input[type="email"] {
        width: 60%;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
    }
    
    .btnsubmit button {
        background-color: var(--bg-color-primary);
        color: var(--black) ;
        border: none;
        padding: 10px 20px;
        margin: .5rem;
        border-radius: 3px;
        font-size: 1.1rem;
    }
    
    button:hover{
        box-shadow: 2px 2px 7px black;
    }

/* social media */
    .social-media{
        padding: .5rem 0;
        min-height: 5vh;
        margin: auto;
        background-color: var(--bg-color-content-transparant);
    }

    .social-media-items{
        display: grid;
        width: 30vw;
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .social-media a{
        text-align: center;
    }

    .social-media i{
        color: var(--white);
        font-size: 2rem;
    }

    .social-media i:hover{
        color: var(--black);
        box-shadow: 0px 0px 10px rgb(255,255,255);
    }

/* footer */
    footer{
        min-height: 20vh;
        padding: 2rem;
        background-color: var(--bg-color-content);
        color: white;
        text-align: center;
    }

    footer p{
        margin-top: 1rem;
    }



/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: black;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
} */
